.container {
  display: flex;
  height: 100vh;
  width: 100wh;
  justify-content: center;
  align-items: center;
  border: 10px solid goldenrod;
}

.clock-face {
  width: 300px;
  height: 300px;
  background: blue;
  border-radius: 50%;
}

#hour-hand {
  width: 7px;
  height: 100px;
  background: black;
  top: 37.5%;
  left: 50%;
  position: absolute;
  transform: rotate(150deg);
  transform-origin: bottom;
}

#minute-hand {
  width: 5px;
  height: 150px;
  background: red;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: bottom;
}

#second-hand {
  width: 3px;
  height: 150px;
  background: green;
  position: absolute;
  top: 30%;
  left: 50%;
   transform: rotate(10deg);
  transform-origin: bottom;
}
